@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&family=Freehand&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {

    font-family: "Inter", serif;

}

main {

    background: rgb(0, 0, 0);

}



:root {
    --primary-color: rgb(255, 255, 255);
    --btn-primary-color: rgb(230, 83, 60);

}

section {
    background: rgb(0, 0, 0);
    padding-bottom: 100px;
}




/* ||Header Section || */

header {
    max-width: 1366px;
    background-image: linear-gradient(rgb(17, 17, 17), rgba(119, 119, 119, 1), rgb(17, 17, 17));



}


/* logo */

nav {
    display: flex;
}

.title-logo {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}

.display-flex {
    display: flex;
}

/* menu bar */

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.navbar-list {
    display: flex;
    margin-top: 40px;
    width: 420px;
    height: 35px;
    padding-top: 8px;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.nav-list {
    list-style: none;
    margin-right: 50px;
}

.nav-btn {
    border-radius: 46px;
    width: 75px;
    height: 30px;
    background: rgb(230, 83, 60);
    padding-left: 20px;
}


.nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.nav-icon {
    display: none;

}



/* ||Banner Section || */

.banner {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 130px;
    justify-content: center;
    align-items: center;




}

.banner>img,
.run-extra-hero>img {
    width: 100%;
}

.banner-text {

    width: 350px;




}



.banner-title {
    width: 500px;
    font-size: 2rem;
    font-weight: 800;
    color: var(--primary-color);

}


.shape-color {
    font-family: "Dancing Script", cursive;
    font-size: 5rem;
}

.banner-btn-join,
.run-btn,
.btn-calculate {
    background: var(--btn-primary-color);
    border-radius: 42px;
    width: 220px;
    height: 50px;
    color: var(--primary-color);
    font-size: 1rem;
}

.banner-btn-download {
    border: 1px solid rgb(255, 255, 255);
    background-color: #434343;
    border-radius: 42px;
    width: 224px;
    height: 54px;
    color: var(--primary-color);
    font-size: 1rem;
}

.banner-btn {
    display: flex;
    gap: 20px;
}


/* change your habit section */

.change-habit {

    max-width: 1000px;
    margin: 0 auto;
    text-align: center;




}

.habit {
    padding-top: 100px;
    margin-bottom: 100px;
}


.habit-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2rem;

}

.habit-description {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
}

.type-training {
    display: flex;
    width: 231px;
    gap: 70px;
}

.training {
    width: 231px;
    height: 274px;
}

.training-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;

}

.training-description {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.training>img {
    border-radius: 90px;

}

/* Run an extra mile section starts here */

.run-an-extra-mile {
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;

}

.run-extra-text {
    width: 320px;
    height: 290px;
    padding-left: 40px;
}



.run-extra-hero {
    width: 320px;
    height: 350px;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 50px;
} 



.run-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
}

.run-description {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    width: 300;
}

/* client review section */

.client-review {
    max-width: 1000px;
    margin: 0 auto;
    background: rgb(34, 34, 34);
    text-align: center;
    padding-bottom: 50px;
}


.client-review-title-area {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2rem;
    padding-top: 30px;
    padding-bottom: 60px;
}

.reviewers {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 20px;

}

.reviewer {
    width: 300px;
    height: 400px;
    border: 1px solid wheat;
}

.review-writing {
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-style: italic;
    padding-left: 20px;
    padding-top: 40px;
    text-align: left;
}

.client {
    padding: 20px;

}

.client-pic {
    width: 120px;
    height: 80px;
    border-radius: 45px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-style: italic;

}

.client-pic>img {
    width: 100%;

}

/* BMI Calculator */

.BMI-section {
    background: rgb(34, 34, 34);
}

.BMI-title-area {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 50px;
}

.BMI-title,
.team-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
}

.BMI-description,
.team-description {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

.BMI-chart-form {

    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;


}

table,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 13px;
    font-size: 13px;
}

td {
    color: rgba(255, 255, 255, 0.5)
}

.BMI-chart {
    color: white;

}

.BMI-form {
    color: rgb(255, 255, 255);
    width: 550px;


}

.BMI-description-1 {
    color: rgba(255, 255, 255, 0.5);
}

.style-input,
.style-select,
.style-select-activity {
    width: 220px;
    height: 40px;
    padding: 2px 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    text-align: start;
    color: rgba(255, 255, 255, 0.6);
    margin: 3px;
}

.style-input,
.style-select,
.style-select-activity {
    width: 220px;
    height: 40px;

}

.style-select {
    width: 244px;
    height: 46px;


}

.style-select-activity {
    width: 500px;
    height: 40px;

}


.btn-calculate {
    margin-top: 30px;
}

.height-weight {
    display: flex;
}

.BMI-chart {
    width: 300px;
}

.team-section {
    max-width: 1000px;
    margin: 0 auto;
    background: rgb(34, 34, 34);
    text-align: center;
   

}


.member-1 {
    background-image: url(../images/trainer1.png);
    width: 330px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}


.member-2 {
    background-image: url(../images/trainer2.png);
    width: 330px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}


.member-3 {
    background-image: url(../images/trainer3.png);
    width: 330px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}


.member-4 {
    background-image: url(../images/shoaib.jpg);
    width: 330px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}



.member-5 {
    background-image: url(../images/trainer5.png);
    width: 330px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}


.member-6 {
    background-image: url(../images/trainer6.png);
    width: 330px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}







.member-fix-2 {
    padding-top: 210px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 900;
}

.member-fix-3 {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}

.member-fix {
    width: 200px;
    height: 80px;

}

.members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.team-title-area {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 60px;
}

/* footer */
footer {
    background: rgb(34, 34, 34);
    padding-top: 50px;
    padding-bottom: 1rem;


}

.footer-content-area {
    max-width: 1000px;
    margin: 0 auto;


}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;



}

.footer-title {
    color: rgb(230, 83, 60);
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
}

.footer-description {

    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;

}

.footer-fitness {
    width: 300px;
    height: 200px;

}

.footer-get-started {
    width: 400px;
    height: 200px;
    display: flex;
}

.get-started {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.5rem;
}

.get-list {

    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.2rem;

}

.get-list>a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.footer-line {
    max-width: 1000px;
    height: 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.copyright {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}